@import url('https://fonts.googleapis.com/css2?family=Noto-Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto-sans', sans-serif;
  background-color: #121212;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.title-head {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #888;
  border-bottom-width: 1px;
}

.head-list {
  margin: 0px;
  padding: 5px;
  list-style: none;
  font-size: 25px;
}

button {
  cursor: pointer;
}

.head-list label {
  font-weight: bold;
}

.head-list li {
  color:white;
  display: inline;
  padding: 125px;
}

.head-list li button {
  width: 25px;
  height: 25px;
  border-radius: 70%;
  border: 3px solid white;
  color: white;
  background-color: #121212;
}

.guess-list {
  list-style: none;
  padding: 0px;
  width: 45%;
  margin: auto;
  display: list-item;
  justify-content: center;
  text-align: center;
}

.guess-list li {
  margin: 10px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: 1px solid #444 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-time {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  top: 70vh;
  bottom: 0px;
}

.loading {
  height: 20px;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  justify-content: center;
  position: relative;
}

.full-load {
  margin: 0 auto;
  height: 100%;
  width: 45%;
  display: flex;
  position: relative;
}

.loading-indicator {
  background-color: #444;
  width: 6.25%;
}

.loadline {
  border-left: 1px solid #888;
  position: absolute;
  height: 100%;
}

.player {
  margin-top: 10px;
  height: 60px;
  width: 45%;
  color: white;
  position: relative;
  vertical-align: center;
  text-align: center;
}

.curr-time {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.total-time {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.play {
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 70%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: #121212;
  color: white;
}

.search {
  margin-top: 10px;
  padding: 0px;
  width: 45%;
}

.search i {
  color: #888;
  padding: 17px 7px;
  position: absolute;
}

.search-bar {
  padding-left: 30px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: white;
  background-color: #121212;
  border: 1px solid #888;
}

.allBtn {
  margin-top: 5px;
  padding: 0px;
  height: 45px;
  position: relative;
  width: 45%;
}

.allBtn button {
  width: 120px;
  height: 40px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.skip {
  position: absolute;
  left: -2px;
  background-color: #444;

}

.submit {
  position: absolute;
  right: -2px;
  background-color: rgb(15, 222, 15);
}
