@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto-sans', sans-serif;
  background-color: #121212;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.title-head {
  text-align: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #888;
  border-bottom-width: 1px;
}

.head-list {
  margin: 0px;
  padding: 5px;
  list-style: none;
  font-size: 25px;
}

button {
  cursor: pointer;
}

.head-list label {
  font-weight: bold;
}

.head-list li {
  color:white;
  display: inline;
  padding: 125px;
}

.head-list li button {
  width: 25px;
  height: 25px;
  border-radius: 70%;
  border: 3px solid white;
  color: white;
  background-color: #121212;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#help-page::first-line {
  font-size: 25px;
}

#help-page {
  position: absolute;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  padding: 30px;
  width: 30%;
  text-align: center;
  word-wrap: break-word;
  color: #fff;
  background-color: #121212;
  border: 1px solid #444;
  z-index: 2;
}

.guess-list {
  list-style: none;
  padding: 0px;
  width: 45%;
  margin: auto;
  display: list-item;
  justify-content: center;
  text-align: center;
}

.guess-list li {
  margin: 10px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: 1px solid #444 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-time {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  top: 70vh;
  bottom: 0px;
}

.loading {
  height: 20px;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  justify-content: center;
  position: relative;
}

.full-load {
  margin: 0 auto;
  height: 100%;
  width: 45%;
  display: flex;
  position: relative;
}

.loading-bar {
  background-color: #444;
  width: 6.25%;
  position: relative;
}

.loading-bar::before {
  content: attr(data-label);
  display: flex;
  position: absolute;
  height: calc(100% - 1px);
  /*takes the --width (or 0 if it cant var is null and turns it into percentage)*/
  width: calc(var(--width, 0) * 1%);
  background-color:rgb(23, 106, 23);
}

.loadline {
  border-left: 1px solid #888;
  position: absolute;
  height: 100%;
}

.player {
  margin-top: 10px;
  height: 60px;
  width: 45%;
  color: white;
  position: relative;
  vertical-align: center;
  text-align: center;
}

.curr-time {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.max-time {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.play {
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 70%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: #121212;
  color: white;
}

/* .search-list ul{
  position: absolute;
  margin: auto;
  padding: 0;
  padding-left: 15px;
  width: 45%;
  height: 40px;
  z-index: 2;
  transform: translate(0, -100%);
  list-style-type: none;
  color: white;
  background-color: #121212;
  border: 1px solid red;
}

.search-list li {

} */

.search {
  margin-top: 10px;
  padding: 0px;
  width: 45%;
}

.search i {
  color: #888;
  padding: 17px 7px;
  position: absolute;
}

.search-bar {
  padding-left: 30px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: white;
  background-color: #121212;
  border: 1px solid #888;
}

.allBtn {
  margin-top: 5px;
  padding: 0px;
  height: 45px;
  position: relative;
  width: 45%;
}

.allBtn button {
  width: 120px;
  height: 40px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.skip {
  position: absolute;
  left: -2px;
  background-color: #444;

}

.submit {
  position: absolute;
  right: -2px;
  background-color: rgb(23, 106, 23);
}

#page-2 {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 65%;
  bottom: 30vh;
  color: white;
}

.correct-song {
  margin: auto;
  font-size: 40px;
  width: 45%;
  text-align: center;
  vertical-align: center;
}

.next-song {
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  width: 120px;
}
